{% from 'components/breadcrumb/index.html' import Breadcrumb with context %}

{% set breadcrumb_list = generate_breadcrumb(category.menuitemmodel, 'menu_item', request=request) %}
{% set category_header = category.attributes.banner %}
{% set category_footer = category.attributes.category_footer %}
{% set list_banner = category.attributes.list_banner %}
{% set list_slider = category.attributes.list_slider %}
{% set list_slider_content = category.attributes.list_slider_content %}
{% set slider_visible = category.attributes.list_slider_visible %}


{% if slider_visible.value.is_show == 'yes' %}
  <div class="list-header">
    <div class="list-header__left">
      <div class="list-header__breadcrumb">
        {{ Breadcrumb(breadcrumb_list, divider_icon='pz-icon-chevron-right', request=request) }}
      </div>

      <div class="list-header__content">
        {% if list_slider_content.value.title %}
          <div class="list-header__content-title">
            {{ list_slider_content.value.title }}
          </div>
        {% endif %}

        {% if list_slider_content.value.description %}
          <div class="list-header__content-description">
            {% autoescape false %}
              {{ list_slider_content.value.description }}
            {% endautoescape %}
          </div>
        {% endif %}
      </div>
    </div>
    
    <div class="list-header__right">
      <div class="list-header__slider">
        <pz-carousel 
          direction="horizontal"
          per-view="3"
          space="0.0975rem"
        >
          <pz-breakpoint per-view="1.5" size="600" space="0.0975rem"></pz-breakpoint>
          {% for item in list_slider %}
            <div class="list-header__slider-item">
              <a href="{{ item.value.link }}" title="{{ item.value.title }}">
                {% if item.kwargs.value.image.url %}
                  <img src="{{ item.kwargs.value.image.url }}" alt="{{ item.value.title }}">
                {% endif %}
                {% if item.value.title %}
                  <div class="list-header__slider-title">
                    {{ item.value.title }}
                  </div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </pz-carousel>
      </div>
    </div>
  </div>
{% endif %}

<section class="list" data-layout="{{ layout }}" data-default-layout="{{ default_layout }}">

  {% if not slider_visible or slider_visible.value.is_show == 'no' %}
    <div class="list__breadcrumb-wrapper">
      {{ Breadcrumb(breadcrumb_list, divider_icon='pz-icon-chevron-right', request=request) }}
    </div>
  {% endif %} 
  
  <div class="list__views-wrapper">
    {% include 'list/view-options/index.html' %}
  </div>

  <div class="list__body">
    <div class="list__content">
      <div class="list__selected-filters">
        {% for facet in facets %}
          {% for choice in facet.data.choices if choice.is_selected and choice.real_depth != 2 %}
            <a
              href="#"
              class="list__selected-filter-item js-remove-choice"
              data-name="{{ facet.data.search_key }}"
              data-value="{{ choice.value }}"
              data-parent="{{ facet.data.choices|selectattr('is_parent_of_selection')|map(attribute='url')|join(',') }}"
            >
              <span>{{ choice.label }}</span>
              <i class="pz-icon-close"></i>
            </a>
          {% endfor %}
        {% endfor %}
      </div>

      <div class="list__products -layout-{{ layout }} js-product-list">
        {% if products %}
          {% for product in products %}
            {% if not list_banner.value.is_show == 'no' and loop.index == list_banner.value.position|int %}
              
              <div class="list__banner">
                <div class="list__banner-content" style="background-image: url('{{ list_banner.kwargs.value.background.url }}')">
                  {% if list_banner.value.title %}
                    <div class="list__banner-title">
                      {{ list_banner.value.title }}
                    </div>
                  {% endif %}

                  {% if list_banner.value.link %}
                  <a href="{{ list_banner.value.link }}" class="list__banner-button">
                    {{ list_banner.value.link_title }}
                  </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% include "components/product-item/index.html" %}
          {% endfor %}
        {% else %}
          <div class="list__products -empty">
            <p class="list__products-empty-content">
              {{ _('The result you were looking for was not found') }}
            </p>
            
            <span>
              <a href="{{ url('index') }}" class="list__products-empty-link">
                {{ _('Home Page') }}
              </a>
            </span>
          </div>
        {% endif %}
      </div>

      <pz-pagination
        class="pagination"
        total="{{ pagination.total_count }}"
        per-page="{{ pagination.page_size }}">
      </pz-pagination>
    </div>
  </div>

  {% if category_footer %}
    <div class="list__footer">
      {% if category_footer.value.title %}
        <div class="list__footer-title">
          {{ category_footer.value.title }}
        </div>
      {% endif %}

      {% if category_footer.value.description %}
        <div class="list__footer-content">
          {% autoescape false %}
            {{ category_footer.value.description }} 
          {% endautoescape %}
        </div>
      {% endif%}
    </div>
  {% endif %}

</section>