@import '@Theme/list/view-options';
@import '@Theme/list/filters';
@import '@Theme/list/sidebar';

.category-header {
  @apply relative;

  &__background {
    @apply absolute w-full h-full top-0 left-0;

    img {
      @apply w-full h-full object-cover;
    }
  }

  &__wrapper {
    @apply container relative min-h-80 mb-4 pb-4 pl-4 pt-6;
    @apply sm:pt-10;
    @apply lg:pl-72 lg:pt-28;

    &-content {
      @apply lg:ml-4;
    }
  }

  &__breadcrumb {
    @apply absolute left-0 top-5 hidden;
    @apply lg:block;
  }

  &__title {
    @apply text-2xl font-semibold text-black mb-2.5;
  }

  &__description {
    @apply w-2/5 text-xs text-black;
    @apply md:w-full md:max-w-md;
  }

  &__link-group {
    @apply mt-4;
    @apply md:flex;
  }

  &__link {
    @apply mb-6 last:mb-0;
    @apply md:mb-0 md:mr-11 last:mr-0;

    span {
      @apply text-sm underline font-medium text-black mr-3 transition-all;
      @apply hover:text-gray-500;
    }

    i {
      @apply text-2xs;
    }
  }
}

.list-header {
  @apply container flex flex-col;
  @apply lg:mt-5 lg:flex-row;

  &__left {
    @apply flex-shrink-0;
    @apply lg:w-1/3 lg:flex lg:flex-col lg:pr-20;
  }

  &__right {
    @apply lg:w-2/3;
  }

  &__breadcrumb {
    .breadcrumb {
      @apply flex-wrap;

      &__text {
        @apply font-semibold;
      }

      &__link,
      &__text {
        @apply text-primary-200;
      }
    }
  }

  &__breadcrumb,
  &__content {
    @apply lg:mt-0 lg:mb-auto;
  }

  &__content {
    @apply text-center px-16;
    @apply lg:text-left lg:px-0;

    &-title {
      @apply text-2xl text-black font-semibold mt-10;
      @apply lg:mt-0;
    }

    &-description {
      @apply text-xs text-black mt-2.5;
      @apply lg:mt-0;
    }
  }

  &__slider {
    @apply mt-8;
    @apply lg:mt-0;

    &-item {
      @apply relative;
    }

    &-title {
      @apply absolute w-full h-full px-4 left-0 top-0 flex justify-center items-center text-white font-semibold text-center text-3xl;

      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.list {
  @apply relative;

  &__breadcrumb-wrapper {
    @apply container;

    .breadcrumb {
      @apply lg:mt-5;
    }
  }

  &__views-wrapper {
    @apply lg:bg-gray-150;
  }

  &__body {
    @apply px-4;
    @apply sm:px-0 lg:flex;
  }

  &__content {
    @apply container;
    @apply lg:flex-1;

    .button-wrapper {
      @apply mb-4;
      @apply lg:hidden;
    }
  }

  &__banner {
    @apply mb-6 px-2 w-1/2;
    @apply md:w-1/4;

    &-content {
      @apply flex flex-col justify-center items-center h-full p-3 overflow-hidden bg-no-repeat bg-cover bg-center;
    }

    &-title {
      @apply text-3xl text-black mb-5 text-center;
    }

    &-button {
      @apply text-xs font-semibold py-4 px-6 border border-solid border-black text-center;
    }
  }

  &__footer {
    @apply container mx-auto border-t border-solid border-gray py-4 px-4 mb-10;
    @apply xl:px-36;

    &-title {
      @apply text-2xl text-black font-semibold pb-4 mb-7 border-b border-solid border-gray;
      @apply lg:mb-5;
    }

    &-content {
      @apply text-xs text-black;
    }
  }

  &__selected-filters {
    @apply flex flex-wrap;
  }

  &__selected-filter-item {
    @apply hidden p-4 mb-4 mr-3 border border-gray-100 text-sm text-gray-950;
    @apply lg:flex lg:items-center;

    span {
      @apply mr-8;
    }
  }

  &__products {
    @apply flex flex-wrap -mx-3;

    &.-empty {
      @apply w-full flex-col bg-gray-200 justify-center items-center px-5 py-16 mx-3 mb-8;
      @apply md:mb-5;
    }

    &-empty-content {
      @apply text-center;
    }

    &-empty-link {
      @apply block underline mt-4;
    }

    .product-item {
      @apply mb-6 px-2 w-1/2;
      @apply md:w-1/4 md:px-3;
    }

    &.-layout-2 {
      .product-item {
        @apply md:w-1/2;
      }

      .list__banner {
        @apply md:w-1/2;
      }
    }
  }

  .pagination {
    @apply mb-9 justify-end;
    @apply lg:justify-center;
  }
}
