{% for choice in facet.data.choices %}
  {% set facet_label = choice.label ~ ' (' ~ choice.quantity ~ ')' %}

  <label class="{{ '-filter-selected' if choice.is_selected }}">
    <input
      type="checkbox"
      name="{{ facet.search_key }}"
      value="{{ choice.value }}"
      class="js-filter-choice"
      {{ 'checked' if choice.is_selected }}
    >
    <span>{{ facet_label|lower }}</span>
  </label>
{% endfor %}
