.list {
  &__views {
    @apply container py-3 px-3 flex text-sm text-gray-950 items-center;
    @apply lg:items-center lg:mb-5 lg:mt-5 lg:px-0;
  }

  &__product-count {
    @apply order-1 text-xs flex-shrink-0;
    @apply lg:inline lg:order-none;

    &-title {
      @apply hidden text-sm text-black font-semibold;
      @apply lg:block;
    }
  }

  &__view-options {
    @apply hidden;
    @apply lg:flex lg:flex-shrink-0 lg:items-center lg:ml-auto lg:mr-7 lg:py-3 lg:px-5 lg:border lg:border-gray-100 lg:h-10;
  }

  .page-size {
    @apply lg:flex lg:items-center;

    &__title {
      @apply lg:mr-5;
    }

    &__options {
      @apply lg:pr-5 lg:mr-5 lg:border-r lg:border-gray-400;

      a:first-child {
        @apply lg:mr-5;
      }

      .-active {
        @apply font-semibold text-black;
      }
    }
  }

  .layouts {
    @apply lg:flex lg:items-center;

    &__item {
      @apply text-gray-600 lg:first:mr-5 lg:text-base lg:leading-off;

      &.-active {
        @apply text-black;
      }
    }
  }

  &__view-actions {
    @apply flex w-full;
    @apply lg:block lg:justify-center lg:w-36;

    & > button {
      @apply w-28 mr-4 border border-gray-100 text-left px-5 relative;
      @apply lg:w-5/12 lg:hidden;

      &::after {
        @extend .pz-icon-font;

        @apply absolute top-1/2 right-4 transform -translate-y-1/2;
      }
    }

    &-filter-button {
      &::after {
        // @extend %ref-pz-icon-filter;
      }
    }

    &-filter-sorter {
      .pz-select-w {
        &__icon {
          @apply ml-2 mr-0 text-base transition absolute top-1/2 right-4 transform -translate-y-1/2;
          @apply md:hidden;
        }
      }

      .pz-select-w__chevron {
        @apply hidden;
        @apply md:block;
      }
    }

    pz-select {
      @apply w-28 whitespace-nowrap bg-white;
      @apply lg:w-5/12 lg:w-36;
    }

    .pz-select-w__button {
      @apply py-3 px-5 border-gray-100;
    }
  }
}
