<div class="list__views">
  <span class="list__product-count">
    <div class="list__product-count-title">
      {{ _('FILTER') }}
    </div>
    {{ _('{} items').format(pagination.total_count) }}
  </span>

  {% include 'list/sidebar/index.html' %}

  <div class="list__view-options">
    <div class="page-size">
      <span class="page-size__title">
        {{ _('View') }}
      </span>

      <div class="page-size__options">
        <a
          href="{{ '%s&page_size=%s'|format(page_size_params, 48) if page_size_args else '?page_size=' ~ 48 }}"
          class="{{ '-active' if page_size == 48 }}"
        >
          {{ _('{} Products').format(48) }}
        </a>

        <a
          href="{{ '%s&page_size=%s'|format(page_size_params, 96) if page_size_args else '?page_size=' ~ 96 }}"
          class="{{ '-active' if page_size == 96 }}"
        >
          {{ _('{} Products').format(96) }}
        </a>
      </div>
    </div>

    <div class="layouts">
      <a
        href="{{ '%s&layout=%s'|format(layout_params, 2) if layout_args else '?layout=' ~ 2 }}"
        class="layouts__item pz-icon-2li {{ '-active' if layout == 2 }}"
      ></a>

      <a
        href="{{ '%s&layout=%s'|format(layout_params, 3) if layout_args else '?layout=' ~ 3 }}"
        class="layouts__item pz-icon-3lu {{ '-active' if layout == 3 }}"
      ></a>
    </div>
  </div>

  <div class="list__view-actions">
    <button class="list__view-actions-filter-button js-open-mobile-filters">
      {{ _('Filter') }}
    </button>

    <pz-select class="list__view-actions-filter-sorter js-sorter" icon="sort">
      {% for item in sorters %}
        <option value="{{ item.value }}" {{ 'selected' if item.is_selected }}>
          {{ item.label }}
        </option>
      {% endfor %}
    </pz-select>
  </div>
</div>
