.list {
  $wrapper: &;

  &__sidebar {
    @apply flex flex-col fixed top-0 bottom-0 left-0 transition duration-700 transform -translate-x-full text-sm overflow-auto z-50 bg-white opacity-0 w-full;
    @apply lg:relative lg:w-auto lg:translate-x-0 lg:z-10 lg:p-0 lg:visible lg:opacity-100 lg:bg-transparent lg:pb-0 lg:overflow-visible;

    &.-active {
      @apply translate-x-0 opacity-100;
    }

    &-title {
      @apply text-2xl flex items-center justify-center py-3.5;
      @apply lg:hidden;

      i {
        @apply ml-auto cursor-pointer;
        @apply lg:hidden;
      }

      span {
        @apply flex mx-2;
      }
    }

    &-selected-filter {
      @apply text-2xl;
    }

    .pz-expandable {
      &__header {
        @apply py-4;
      }

      &__body {
        @apply capitalize;
      }

      .title {
        @apply font-normal text-sm capitalize;
      }

      .subtitle {
        @apply lg:hidden;
      }
    }

    #{$wrapper}__selected-filters {
      @apply hidden;
    }

    #{$wrapper}__selected-filter-item {
      @apply block flex-shrink-0;
    }

    #{$wrapper}__product-count {
      @apply block;
    }

    &-clear-button {
      @apply underline;
      @apply p-0 #{!important};
    }

    &-buttons {
      @apply flex p-3.5 mt-auto;
      @apply lg:hidden;

      & > .button-wrapper {
        @apply mb-2;
      }
    }

    &-filter-mobil {
      @apply flex h-full border-t border-b border-gray-450;
      @apply md:hidden;

      &-left {
        @apply w-32 bg-gray-150 border-r flex-shrink-0 border-gray-450;
      }

      &-right {
        @apply w-full overflow-y-scroll;
      }

      .filter-item {
        label {
          @apply px-5 py-4 border-b border-gray-450 m-0 text-xs;
        }
      }

      &-list-item {
        @apply block relative py-5 px-4 border-b border-gray-450;

        button {
          @apply pointer-events-none;
        }

        &.-active {
          @apply bg-white;

          &::before {
            @apply content-empty h-full left-0 top-0 absolute bg-secondary;

            width: 0.3125rem;
          }
        }
      }

      &-subtitle {
        @apply flex items-center justify-between p-5 border-b border-gray-450;

        span {
          @apply flex;
        }
      }
    }

    &-filter-wrapper {
      @apply hidden;
      @apply md:flex md:mx-8 md:flex-wrap;
      @apply xl:mx-16;

      .pz-select {
        @apply w-36 m-2 bg-white;
        @apply 2xl:my-0;
      }
    }
  }
}
