{# Expanded filters are open/expendad on page load #}
{% set expanded_filters = ["category", "size"] %}

{# Excluded filters are not be displayed #}
{% set excluded_filters = ["stock"] %}

{# Exclusive filters act like radio buttons, only one choice allowed #}
{% set exclusive_filters = ["category"] %}

{# Special filters have different input appearances #}
{% set special_filters = ["size"] %}

{% set category_facet = find_facet('category', facets) %}

<div class="list__sidebar js-list-sidebar">
  <div class="list__sidebar-title">
    {{ _('Filters:') }} 
    <span class="list__sidebar-selected-filter js-selected-filter"></span>
    <span>
      <i class="pz-icon-close js-list-close-accordion"></i>
    </span>
  </div>

  <div class="list__sidebar-filter-mobil">
    <div class="list__sidebar-filter-mobil-left">
      <pz-tab-menu namespace="tabNamespace" theme="ghost">
        {% for facet in facets %}
          {% set type = get_filter_type(facet) %}
          {% if type not in excluded_filters %}
            <pz-tab-menu-item class="list__sidebar-filter-mobil-list-item js-sidebar-filter-item" content="{{facet.name|lower}}">
              {{ facet.name|upper }}
            </pz-tab-menu-item>
          {% endif %}
        {% endfor %}
      </pz-tab-menu>
    </div>
    
    <div class="list__sidebar-filter-mobil-right">
      <pz-tab-content namespace="tabNamespace">
        {% for facet in facets %}
        {% set type = get_filter_type(facet) %}
        {% set is_exclusive = true if type in exclusive_filters else false %}
        {% set is_special = true if type in special_filters else false %}
        {% set selected_filters = [] %}
        {% set subtitle = [] %}
    
        {% for item in facet.data.choices %}
          {% if item.is_selected %}
            {% do selected_filters.append(item) %}
          {% endif %}
        {% endfor %}
    
        {% if selected_filters|length > 0 %}
    
          {% if selected_filters|length == 1 %}
            {% do subtitle.append('{}'.format(selected_filters[0].label)) %}
          {% else %}
            {% do subtitle.append('{} {} chosen'.format(selected_filters|length, facet.name)) %}
          {% endif %}
        {% else %}
          {% do subtitle.append('All {}'.format(facet.name)) %}
        {% endif %}
      
          {% if type not in excluded_filters %}   
            <pz-tab-content-item tab="{{facet.name|lower}}" class="js-tab-content-item">
              <div class="list__sidebar-filter-mobil-subtitle">
                <span>
                  {{ subtitle[0] }}
                </span>
                <span>
                  <i class="pz-icon-check"></i>
                </span>
              </div>
              <div class="js-filter-item filter-item -default {{ 'js-filter-exclusive' if is_exclusive }}">
                {% include 'list/filters/mobil/index.html' %}
              </div>
            </pz-tab-content-item>
          {% endif %}
        {% endfor %}
      </pz-tab-content>
    </div>
  </div>
  

  <div class="list__sidebar-filter-wrapper">
    {% for facet in facets %}
    {% set type = get_filter_type(facet) %}
    {% set is_open = true if type in expanded_filters else false %}
    {% set is_exclusive = true if type in exclusive_filters else false %}
    {% set is_special = true if type in special_filters else false %}
    {% set selected_filters = [] %}
    {% set subtitle = [] %}

    {% for item in facet.data.choices %}
      {% if item.is_selected %}
        {% do selected_filters.append(item) %}
      {% endif %}
    {% endfor %}

    {% if selected_filters|length > 0 %}
      {% set is_open = true %}

      {% if selected_filters|length == 1 %}
        {% do subtitle.append('{}'.format(selected_filters[0].label)) %}
      {% else %}
        {% do subtitle.append('{} {} chosen'.format(selected_filters|length, facet.name)) %}
      {% endif %}
    {% else %}
      {% do subtitle.append('All {}'.format(facet.name)) %}
    {% endif %}

    {% if type not in excluded_filters %}
      <pz-select name="{{ facet.search_key }}" class="js-sidebar-filter" multiple-placeholder="{{ facet.name }}" placeholder="{{ facet.name }}" multiple>
        
        {% include 'list/filters/index.html' %}
      </pz-select>
    {% endif %}
  {% endfor %}
  </div>

  <div class="list__selected-filters">
    {% for facet in facets %}
      {% for choice in facet.data.choices if choice.is_selected and choice.real_depth != 2 %}
        <a
          href="#"
          class="list__selected-filter-item js-remove-choice"
          data-name="{{ facet.data.search_key }}"
          data-value="{{ choice.value }}"
        >
          <span>{{ choice.label }}</span>
          <i class="pz-icon-close"></i>
        </a>
      {% endfor %}
    {% endfor %}
  </div>

  <div class="list__sidebar-buttons">
    <pz-button
      class="list__sidebar-clear-button list__sidebar-button js-clear-all-filters"
      type="submit"
      appearance="ghost"
      size="lg"
      w-full
      -ghost
    >
      {{ _('Clear All Filters') }}
    </pz-button>

    <pz-button
      class="list__sidebar-button js-list-apply-filters"
      type="submit"
      size="lg"
      w-full
    >
      {{ _('Apply') }}
    </pz-button>
  </div>
</div>
